@page
@model ViewPassword

@{
    ViewData["Title"] = "Пароль для управления объявлением или комментарием";
}

<h2>Пароль для управления</h2>
<p>Важно записать данный пароль, так как в дальнейшем он позволит удалить @Model.Type </p>
<p><span>Пароль:</span> <span>@Model.RecordPassword</span></p>

<p><a class="btn btn-warning" asp-page="@Model.Linkpage" asp-route-id="@Model.RecId">@Model.Linkname</a></p>